html {
  font-size: 62.5%;
  line-height: 1.6;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
  background-color: #fffbf5;
  font-family: Arial, Helvetica, sans-serif;
  padding: 3rem;
}

.template-container {
  margin: 3rem auto;
  max-width: 72rem;
  padding: 3.5rem;
  border: 1px solid #ccc;
  border-radius: .8rem;
  background-color: #fff;
}

.input-form h3, .book-preview-container h3{
  font-weight: 500;
}

.form-container {
  border: 1px solid #ccc;
  border-radius: .6rem;
  padding: 2rem 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.form-container .form-control {
  display: flex;
  flex-direction: column;
  width: 95%;
  gap: 0.5rem;
}

form {
  margin-bottom: 4rem;
}

.form-control input:focus-within,
.form-control select:focus-within {
  border: 1px solid #007bff;
  outline: none;
}

.form-control label {
  font-weight: 500;
  color: #333;
}

.form-control input,
.form-control select{
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: .4rem;
}

.form-control button {
  padding: 1rem 1rem;
  background-color: #3370c5;
  color: #fff;
  border: none;
  border-radius: .4rem;
  cursor: pointer;
}

.book-preview {
  border: 1px solid #ccc;
  border-radius: .6rem;
  display: flex;
  flex-direction: row;
  padding: 1.5rem;
  height: 20rem;
}

.book-image {
  width: 40%;
}

.book-image img {
  width: 100%;
  height: auto;
  border-radius: .6rem;
  height: 100%; /* Adjust height to fit the container */
  border: 1px solid rebeccapurple;
}

.book-info {
  width: 60%;
  padding-left: 2rem; 
  padding-right: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.book-info p {
  margin: .5rem 0;
}

.book-title {
  font-size: 1.8rem;
  font-weight: 500;
  color: #333;
}

.book-author {
  font-size: 1.6rem;
  color: #555;
}

.book-genre {
  font-size: 1.4rem;
  color: #333;  
  display: inline-block;
  padding: .3rem;
  background-color: #f1e6d7;
  border-radius: .6rem;
}

.book-delete {
  color: red;
  cursor: pointer;
}

.book-page {
  font-size: 1.4rem;
  color: #333;
  display: inline-block;
}

.book-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: auto;
  align-items: center;
}

.book-description:first-of-type {
  justify-content: flex-start;
  gap: 1rem;
}

.book-read {
  background-color: #269364;
  padding: .3rem .5rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  color: #fff;
  gap: .3rem;
}

.book-read p {
  margin: 0;
  font-size: 1.5rem;
}

.check {
  font-size: 1.4rem;
}

@media screen and (max-width: 490px) {

  .library-heading h1 {
    font-size: 2rem;
    font-weight: 300;
  }

  .book-preview {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .book-image {
    width: 100%;
    height: 20rem;
  }

  .book-info {
    width: 100%;
    margin-top: 1rem;
    padding-left: 0;
    padding-right: 0;
  } 
  
}

/* Library styles */

.Library-container {
  max-width: 72rem;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.library-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #283545;
  gap: 1rem;
}

.library-heading i {
  font-size: 4rem;
}

.library-menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-bar {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-basis: 60%;
}

.addBtn button {
  height: 100%;
  background-color: #6ac29c;
  color: #fff;
  border: none;
  border-radius: .4rem;
  cursor: pointer;
  font-size: 1.6rem;
  width: 10rem;
}

.addBtn button:hover {
  border: 1px solid #6ac29c;
  background-color: #fff;
  color: #6ac29c;
  font-weight: bold;
}

.search-bar input {
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-left: none;
  border-radius: 0 .4rem .4rem 0;
  width: 100%;
  font-size: 1.6rem;
}

.search-bar i {
  border-radius: .4rem 0 0 .4rem;
  position: relative;
  padding: .8rem;
  border: 1px solid #ccc;
  font-size: 1.8rem;
  font-weight: bold;
  border-right: none;
}

.search-bar:focus-within input, .search-bar:focus-within i {
  border: 1px solid #007bff;
  outline: none;
}  

.search-bar:focus-within input {
  border-left: none;
}

.search-bar:focus-within i {
  border-right: none;
}

/* Library book preview styles */

.books-container {
  width: 100%;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;

}

table,th, td {
  padding: 1rem;
  border: 1px solid #ccc;
  text-align: left;
  font-size: 1.4rem;
  border-radius: 80rem;
}

.book-name-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: .5rem;
}

.book-name-item i {
  color: #283545;
  margin-right: .5rem;
}

.book-name-item span {
  font-weight: bold;
} 

tr td:last-of-type span {
  font-weight: bold;
  color: #01631D;
  padding: .8rem;
  background-color: #E8F6ED;
  border-radius: 1rem;
}

/* Modal display */

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.no-books {
  text-align: center;
  font-weight: bold;
}