* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   font-size: 62.5%;
}

header {
   background: #333333;
   color: #fff;
   text-align: center;
   padding: 1rem;
   font-size: 2.5rem;
   margin-bottom: 2rem;
}

.container {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   column-gap: 2rem;
   justify-content: center;
}

table, th, td {
   border: 1px solid #333333;
   border-collapse: collapse;
   font-size: 1.6rem
}

th, td {
   padding: 1rem 1.5rem;
}

.form-container {
   background-color: lightblue;
   padding: 3rem;
}

.form-container h2 {
   margin: 2rem 0;
   font-size: 2.5rem;
}

.form-container label {
   font-size: 1.6rem;
}

.inner-form-section {
   display: flex;
   flex-direction: column;
   row-gap: 2rem;
}

.inner-form-section > div {
   display: flex;
   flex-direction: column;
   width: 25rem;
   align-items: flex-start;
}

.inner-form-section input {
   outline: none;
   border: none;
   padding: .5rem;
   /* border-radius: .5rem; */
   border-bottom: 1px solid #333333;
   font-size: 1.2rem;
   background: none;
}